.card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.card h3 {
  margin-top: 0;
  color: #303f9f;
}


.card h3 {
  margin-top: 0;
  color: #303f9f;
}
.card p{
   color: #000000;
}