body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.container {
  padding: 2rem;
}

h1 {
  color: #e2e2e2;
  text-align: center;
}

.filtros {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.filtros input,
.filtros select,
.filtros button {
  padding: 0.5rem;
  font-size: 1rem;
}

/* Grid comum para header e cards */
.grid-layout {
  display: grid;
  grid-template-columns: 25% 15% 40% 20%;
  gap: 1rem;
  align-items: start;
  margin-bottom: 0.5rem;
}

/* Cabeçalho da tabela */
.HeaderTable{
  display: flex;

}
.HeaderTable span {
 
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  color: #000;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
